.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.mx-sm-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mb-sm-2 {
  margin-bottom: 0.5rem;
}

.w-100 {
  width: 100%;
}

.p-2 {
  padding: 1.5rem;
}
